
$icon-contract: "\EA01" !default;

$icon-courthouse: "\EA02" !default;

$icon-down-arrow: "\EA03" !default;

$icon-file: "\EA04" !default;

$icon-left-quote: "\EA05" !default;

$icon-play: "\EA06" !default;

$icon-refresh-curve-arrows: "\EA07" !default;

$icon-targeting: "\EA08" !default;

$icon-video: "\EA09" !default;
