
$icon-contract: "\EA01" !default;

$icon-courthouse: "\EA02" !default;

$icon-down-arrow: "\EA03" !default;

$icon-facebook: "\EA04" !default;

$icon-file: "\EA05" !default;

$icon-left-quote: "\EA06" !default;

$icon-linkedin: "\EA07" !default;

$icon-play: "\EA08" !default;

$icon-refresh-curve-arrows: "\EA09" !default;

$icon-targeting: "\EA0A" !default;

$icon-twitter: "\EA0B" !default;

$icon-video: "\EA0C" !default;
