.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #b8b9bb;
    padding-top: 30px;
    margin-bottom: 30px;
    
    .company{
        
        &-name{
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.667;
            margin-bottom: 16px;
        }
        
        &-contact{
            font-size: 16px;
            color: rgb(63, 65, 71);
            line-height: 1.667;
            letter-spacing: 1px;
            
            &-mail{
                color: #be4d88;
                text-decoration: underline;
                margin-top: 8px;
            }
        }
    }
    
    .social{
        display: flex;
        margin: 23px 0 24px 0;
        margin-left: 10px;
        
        &-item{
            width: 40px;
            height: 40px; 
            margin-right: 8px;
            
            .icon{
                font-size: 14px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            a{
                display: block;
                height: 100%;
                position: relative;
                color: #dcdcdc;
                border: 2px solid #dcdcdc;
                border-radius: 50px;
            }
        }
    }
    .link{
        
        &:hover{
            color: $interactive-color;
        }
        &-social{
            transition: $time;
            
            &-facebook{
                
                &:hover{
                    color: #4a6bb8;
                    border-color: #4a6bb8;
                }
            }
            &-twitter{
                
                &:hover{
                    color: #00aced;
                    border-color: #00aced;
                }
            }
            &-linkedin{
                
                &:hover{
                    color: #007bb5;
                    border-color: #007bb5;
                }
            }
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    .secondary-text{
        font-size: 11px;
    }
    .important-text{
        font-size: 11px;
    }
    .copiryght{
        letter-spacing: 0.6px;
    }
}